<app-navbar></app-navbar>

<h1>Here you can see the main available functionality of the application!</h1>

<main class="flex flex-start">
    <!--Section about being able to see the list of all the employees inside the organization.-->
    <section>
    <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow-md ">
        <img class="rounded-t-lg w-15 h-15" src="../../assets/mainpage/list-image.png" alt="" />
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Be able to see the different data of the employees of your organization.</p>
    </div>
    </section>

    <!--Adding the employees -->
    <section>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md ">
        <img class="rounded-t-lg" src="../../assets/mainpage/add-file.png" alt="" />
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Be able to add a new employee to existing employee list.</p>
    </div>
    </section>
        
    <!--Adding the documents to certain employee section.-->
    <section>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md ">
        <img class="rounded-t-lg" src="../../assets/mainpage/add-image.png" alt="" />
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Add documents related to the employee.</p>
    </div>
    </section>
</main>

<app-footer></app-footer>