<nav>
    <h1 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">Employee Management App</h1>
    <ul class="flex justify-end absolute top-2 right-2">
        <li class="mr-1 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-full"><a routerLink="/main" >Home</a></li>
        <li class="mr-1 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-full"><a routerLink="/employeelist" >Employee List</a></li>
        <li class="mr-1 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-full"><a routerLink="/departmentlist">Departments</a></li>
        <li class="mr-1 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-full"><a routerLink="/newemployee">Add Employee</a></li>
        <li class="mr-1 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-full"><a routerLink="/">Log Out</a></li>
    </ul>
</nav>
