
 <form #newEmployeeForm="ngForm" (ngSubmit)="onSubmitNewEmployee(newEmployeeForm.value)" class="new-employee-form" novalidate>

    <p>Please enter the name of the new employee.</p>
    <label for="new-employee-name">Employee Name </label>
    <input name="employeeName" id="new-employee-name" type="text" ngModel placeholder="Name" required>

    <p>Please enter the last name of the new employee.</p>
    <label for="new-employee-surname">Employee last name </label>
    <input name="employeeSurname" id="new-employee-surname" type="text" ngModel placeholder="Last name" required>

    <p>Please input the Gross Salary of the new Employee.</p>
    <label for="new-employee-salary">Gross Salary</label>
    <input id="new-employee-salary" type="number" name="salary" ngModel  required>

    <button type="submit" class="submit-button">Submit</button>

 </form>